/* This file is created by ThemeService written by ahmedsaadi0 */
$primary: #f0afff;
$secondary: #d5c0d7;
$tertiary: #f5b7b3;
$error: #ffb4a9;
$background: #1e1a1e;
$surface: #1e1a1e;
$surface-variant: #4c444d;
$outlined: #988e97;
$shadow: #000000;
$inverseSurface: #e8e0e5;

$on-primary: #4d1661;
$on-secondary: #3a2c3d;
$on-tertiary: #4c2523;
$on-error: #680003;
$on-background: #e8e0e5;

$primary-container: #652f78;
$secondary-container: #514254;
$tertiary-container: #663b38;
$error-container: #930006;

$on-primary-container: #fbd7ff;
$on-secondary-container: #f2dcf3;
$on-tertiary-container: #ffdad6;
$on-error-container: #ffb4a9;
$on-surface: #e8e0e5;
$on-surface-variant: #cfc3cd;

$inverseOnSurface: #332f33;
$inversePrimary: #804893;

@import './main.scss';